<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: layout(~{::title}, ~{::section})}">

<head>
    <title>Title from index page</title>
</head>
<body>

<section th:fragment="section">

    <!-- Контент страницы -->
    <h1 th:if="${#request.userPrincipal != null}" th:text="'Добро пожаловать, ' + ${#request.userPrincipal.name} + '!'">
        Welcome message</h1>

    <h1 th:if="${#request.userPrincipal == null}">Welcome to Index PAGE!</h1>

</section>

</body>
</html>