<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: layout(~{::title}, ~{::section})}">

<head>
    <title>Title from User personal page</title>
</head>
<body>

<section th:fragment="section">

    <!-- Контент страницы -->
    <h1 th:text="'Добро пожаловать, ' + ${user.name} + '!'">User, welcome spring boot security page!</h1>

    <hr/>

    <br/>

    <div>
        <h1>Ваши данные:</h1>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Возраст</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

</body>
</html>